<!DOCTYPE html>
<html>

<body>
    <div class="content">
        <form action="/rezultat-chestionar" method="post">
            <fieldset>
                <legend>Chestionar:</legend>
                <% intrebari.forEach((question, index)=> { %>
                    <label for="intrebare<%= index %>">
                        <%= question.intrebare %>
                    </label>
                    <br>
                    <% question.variante_raspuns.forEach((varianta, indexVariante)=> { %>
                        <input type="radio" name="intrebare<%= index %>" value=<%=indexVariante %> > <%= varianta %>
                            </input>
                            <br>
                            <% }); %>
                                <br>
                                <% }); %>
                                    <button type="submit">Verifică</button>
            </fieldset>
        </form>
    </div>
</body>

</html>